---
import { type Concert } from '../types/concert';

interface Props {
	concert: Concert;
	isNext: boolean;
	isToday: boolean;
	showDayOfWeek: boolean;

	dateFormatter: Intl.DateTimeFormat;
}

const { concert, isNext, isToday, showDayOfWeek, dateFormatter } = Astro.props;

const date = new Date(concert.date);
const prettyDate = dateFormatter.formatToParts(date);

const dayOfWeek = isToday
		?	"Today"
		:	prettyDate[0].value;
const day = prettyDate[4].value;
const month = prettyDate[2].value;
const year = prettyDate[6].value;
---

<article class="concert-card
	rounded-md relative overflow-hidden
	bg-gray-100 text-[var(--text-color-primary)]
	border border-[var(--color-primary)] hover:border-[var(--color-selected)]"
>
	<div class="flex relative text-center md:text-right">
		<img 	src=`../img/concerts/${concert.image}`
				class="w-0 md:w-1/2 content-none
					bg-cyan-500 object-cover"
		>
		<div class="w-full pl-6 pr-8 py-6 md:w-1/2
			bg-gray-100"
		>
			<div class="flex flex-row flex-wrap text-wrap text-xl">
				{showDayOfWeek &&
					<div class="w-full sm:w-1/3 sm:pr-0 md:w-1/2 md:text-center">
						<span class:list={[
							"font-bold text-[var(--text-color-dayOfWeek)] uppercase",
							{ "font-extrabold text-[var(--text-color-today)]": isToday }
						]}>{dayOfWeek}</span>
					</div>
				}

				<div class:list={[
					"sm:pl-0",
					{ "w-full sm:w-2/3 sm:text-right md:w-1/2": showDayOfWeek },
					{ "w-full md:text-right": !showDayOfWeek }
				]}>
					<span class:list={[
						"font-medium uppercase",
						{ "text-[var(--text-color-date-next)]": isNext },
						{ "text-[var(--text-color-date-old)]": !isNext }
					]}>{month} {day}, {year}</span>
				</div>
			</div>
			
			<br/>

			<h3 class="text-2xl font-bold">
				{concert.title}
			</h3>

			<p>
				<span class="text-[1.05rem]">{concert.place}</span>
			</p>
			<p>
				<span class="text-[1.05rem]">{concert.city}, {concert.country}</span>
			</p>

			<br/>

			{
				concert.worksByComposer.map(({ composer, works }, index, worksByComposer) => (
					<>
						<h4 class="text-[1.2rem] font-semibold">{composer}</h4>
						<ul>
							{
								works.map(work => <li class="italic text-[1.05rem]">{work}</li>)
							}
						</ul>
						{index < worksByComposer.length - 1 && <br/>}
					</>
				))
			}
		</div>
	</div>

	<div class="participants
			flex flex-row flex-wrap
			px-8
			bg-gray-700">
		{
			concert.participants.map(({ title, name }) => (
				<div class="items-center align-middle text-center text-wrap flex-auto
					w-full p-2 first:pt-6 last:pb-6
					md:w-1/3 md:py-6
					lg:w-1/3"
				>
					<h5 class="text-white text-[1.2rem] font-medium">{name}</h5>
					<p class="text-yellow-200">{title}</p>
				</div>
			))
		}
	</div>
</article>

<style>
	:root {
		--text-color-primary: #374151; /* gray-700 */
		--text-color-today: #84cc16; /* lime-500 */
		--text-color-dayOfWeek: #06b6d4; /* cyan-500 */
		--text-color-date-next: #65a30d ; /* lime-600 */
		--text-color-date-old: #059669 ; /* emerald-600 */
	}
	
	.concert-card {
		scale: initial;
		transform: translate(0);
		transition: scale var(--transition-speed) ease-in-out;
		transform-origin: top;
	}

	.participants {
		max-height: 0;
		transition: max-height var(--transition-speed) ease-in-out;
	}

	.concert-card:hover .participants,
	.concert-card:focus .participants {
		max-height: 32rem;
    	transition: max-height var(--transition-speed) ease-in-out;
	}
</style>