---
import { type Concert } from '../types/concert';

interface Props {
	concert: Concert;
	isNext: boolean;
	isToday: boolean;
	showDayOfWeek: boolean;
}

const locale = new Intl.Locale('en');

const dateFormatter = new Intl.DateTimeFormat(locale, {
	weekday: "long",
	year: "numeric",
	month: "long",
	day: "numeric"
});

const { concert, isNext, isToday, showDayOfWeek } = Astro.props;

const date = new Date(concert.date);
const prettyDate = dateFormatter.formatToParts(date);

const dayOfWeek = isToday
		?	"Today"
		:	prettyDate[0].value;
const day = prettyDate[4].value;
const month = prettyDate[2].value;
const year = prettyDate[6].value;
---

<article class="concert-card
		rounded-md relative overflow-hidden
		bg-gray-100 text-[var(--text-color-primary)]
		border border-[var(--color-primary)] hover:border-[var(--color-selected)]
		hover:scale-110 transform origin-top transition duration-[var(--transition-speed)]">
	<div class="flex relative">
		<img class="bg-cyan-500 w-1/2">
		<div class="bg-gray-100 w-1/2 pl-6 pr-8 py-6 text-right">
			<div class="flex flex-row">
				<div class="w-1/2 text-center">
					<span class:list={[
						"text-2xl font-bold uppercase text-[var(--text-color-dayOfWeek)]",
						{ "text-[var(--text-color-today)] font-extrabold": isToday },
						{ "hidden": !showDayOfWeek }
					]}>{dayOfWeek}</span>
				</div>
				<div class="w-1/2">
					<span class:list={[
						"text-2xl font-medium",
						{ "text-[var(--text-color-date-next)]": isNext },
						{ "text-[var(--text-color-date-old)]": !isNext }
					]}>{month} {day}, {year}</span>
				</div>
			</div>
			
			<br/>

			<h3 class:list={["text-2xl font-bold"]}>
				{concert.title}
			</h3>

			<p>
				<span class="text-[1.05rem]">{concert.place}</span>
			</p>
			<p>
				<span class="text-[1.05rem]">{concert.city}, {concert.country}</span>
			</p>

			<br/>

			{
				concert.worksByComposer.map(({ composer, works }, index, worksByComposer) => (
					<>
						<h4 class="text-[1.2rem] font-semibold">{composer}</h4>
						<ul>
							{
								works.map(work => <li class="italic text-[1.05rem]">{work}</li>)
							}
						</ul>
						{index < worksByComposer.length - 1 && <br/>}
					</>
				))
			}
		</div>
	</div>

	<div class="participants
			grid grid-flow-col
			bg-gray-700">
		{
			concert.participants.map(({ title, name }) => (
				<div class="items-center align-middle text-center px-8 py-6">
					<h5 class="text-white text-[1.2rem] font-medium">{name}</h5>
					<p class="text-yellow-200">{title}</p>
				</div>
			))
		}
	</div>
</article>

<style>
	:root {
		--text-color-primary: #374151; /* gray-700 */
		--text-color-today: #84cc16; /* lime-500 */
		--text-color-dayOfWeek: #06b6d4; /* cyan-500 */
		--text-color-date-next: #65a30d ; /* lime-600 */
		--text-color-date-old: #059669 ; /* emerald-600 */
	}
	
	.concert-card {
		scale: initial;
		transform: translate(0);
		transition: scale var(--transition-speed) ease-in-out;
		transform-origin: top;
	}
	
	.concert-card:hover {
		scale: 110%;
		transform: translate(0);
		transition: scale var(--transition-speed) ease-in-out;
		transform-origin: top;
	}

	.participants {
		max-height: 0;
		transition: max-height var(--transition-speed) ease-in-out;
	}

	.concert-card:hover .participants,
	.concert-card:focus .participants {
		max-height: 7rem;
    	transition: max-height var(--transition-speed) ease-in-out;
	}
</style>