---
import ConcertCard from '../components/CardConcert.astro';
import { type Concert } from '../types/concert';

import concertsJson from '../../data/concerts.json';

const concerts = (JSON.parse(JSON.stringify(concertsJson))) as Concert[];

const today = new Date();
const todayTrim = new Date(`${today.getFullYear()}-${String(today.getMonth() + 1).padStart(2, '0')}-${String(today.getDate()).padStart(2, '0')}`);

const next = concerts.filter(({ date }) => todayTrim <= new Date(date));
const old = concerts.filter(({ date }) => new Date(date) < todayTrim);

const MS_PER_DAY = (24 * 60 * 60 * 1000);

function isToday(date: string) {
    return new Date(date).getTime() == todayTrim.getTime();
}

function lessThanAWeekToConcert(date: string): boolean {
    return Math.round((new Date(date).getTime() - todayTrim.getTime()) / MS_PER_DAY) < 7;
}
---

<section class="flex flex-col sm:max-w-xl md:max-w-3xl lg:max-w-[92rem] px-4 m-auto items-center justify-center relative overflow-hidden">
    <div class="flex relative space-x-4 mb-8 pb-1 overflow-hidden">
        <div>
            <button id="btnNextConcerts"
                    class="relative px-4 py-2 text-white text-xl current-section">
                Next concerts
            </button>
            <div id="nextButtonUnderline" class="content-none bg-[var(--color-selected)] w-full h-[3px] mt-0.5"></div>
        </div>

        <div>
            <button id="btnOldConcerts"
                    class="relative px-4 py-2 text-white text-xl">
                Old concerts
            </button>
            <div id="oldButtonUnderline" class="content-none bg-[var(--color-selected)] w-full h-[3px] mt-0.5 move-out-to-the-right"></div>
        </div>
    </div>
    
    <div class="w-full h-full">
        <div id="concertsContent" class="concerts-content next-visible pb-6">
            <div class="concerts-section">
                <div class="sm:w-full md:w-2/3 lg:w-7/12 p-6">
                    <div class="grid gap-y-16">
                        {
                            next.map(concert =>
                                <ConcertCard
                                    concert={concert}
                                    isNext={true}
                                    isToday={isToday(concert.date)}
                                    showDayOfWeek={lessThanAWeekToConcert(concert.date)} />
                            )
                        }
                    </div>
                </div>
            </div>

            <div class="concerts-section">
                <div class="sm:w-full md:w-2/3 lg:w-1/2 p-6">
                    <div class="grid gap-y-16">
                        {
                            old.reverse().map(concert =>
                                <ConcertCard
                                    concert={concert}
                                    isNext={false}
                                    isToday={false}
                                    showDayOfWeek={false} />
                            )
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="absolute inset-y-0 left-0 w-12 lg:w-60 pointer-events-none bg-gradient-to-r from-[var(--background-color)]"></div>
    <div class="absolute inset-y-0 right-0 w-12 lg:w-60 pointer-events-none bg-gradient-to-l from-[var(--background-color)]"></div>
</section>

<style>
    .current-section {
        color: var(--color-selected);
    }

    .button-underline {
        content: "";
        background: var(--color-selected);
        height: 3px;
    }

    .button-next-underline {
        width: 153px;
        left: -1em;
    }

    .button-old-underline {
        width: 143px;
        right: -9.75em;
    }

    .concerts-content {
        display: flex;
        width: 200%;
        height: 100%;
    }

    .concerts-section {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .move-in {
        transform: translateX(0);
        transition: transform var(--transition-speed) ease-in-out;
    }

    .move-out-to-the-left {
        transform: translateX(-110%);
        transition: transform var(--transition-speed) ease-in-out;
    }

    .move-out-to-the-right {
        transform: translateX(110%);
        transition: transform var(--transition-speed) ease-in-out;
    }

    .next-visible {
        transform: translateX(0);
        transition: transform var(--transition-speed) ease-in-out;
    }

    .old-visible {
        transform: translateX(-50%);
        transition: transform var(--transition-speed) ease-in-out;
    }
</style>

<script is:inline>
    btnNextConcerts = document.getElementById('btnNextConcerts');
    btnOldConcerts = document.getElementById('btnOldConcerts');
    nextButtonUnderline = document.getElementById('nextButtonUnderline');
    oldButtonUnderline = document.getElementById('oldButtonUnderline');
    concertsContent = document.getElementById('concertsContent');

    btnNextConcerts.addEventListener('click', () => {
        oldButtonUnderline.classList.add('move-out-to-the-right');
        nextButtonUnderline.classList.remove('move-out-to-the-left');
        nextButtonUnderline.classList.add('move-in');

        btnNextConcerts.classList.add('current-section');
        btnOldConcerts.classList.remove('current-section');

        concertsContent.classList.add('next-visible');
        concertsContent.classList.remove('old-visible');
    });

    btnOldConcerts.addEventListener('click', () => {
        nextButtonUnderline.classList.add('move-out-to-the-left');
        oldButtonUnderline.classList.remove('move-out-to-the-right');
        oldButtonUnderline.classList.add('move-in');

        btnOldConcerts.classList.add('current-section');
        btnNextConcerts.classList.remove('current-section');

        concertsContent.classList.add('old-visible');
        concertsContent.classList.remove('next-visible');
    });
</script>
